.body {
    text-align: center;
    background-image: url('cool-background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.picture{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}